---
# Only the main Sass file needs front matter (the dashes are enough)
sitemap:
  exclude: 'yes'
---
@charset "utf-8";

/* =Colors */
$dorian: #F5F5F5;
$iron: #333333;
$cloudy: #828282;

@import
    "mixins",
    "default",
    "404"
;

/* =Overide*/
body {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}

.wrapper {
  margin: 10px auto;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 50px;
}

.content {
  a {
    color: #0366d6;
    text-decoration: none;
    font-weight: normal;
  }

  a:hover {
    text-decoration: underline;
  }
}

.page-title__text {
  font-size: 40px;
}

.list-posts {
  a:hover {
    text-decoration: none;
  }
}
