---
layout: default
---
{% include category/title.html %}

<ul class="list-posts">
    {% assign empty_category = true %}
    {% for post in site.posts %}
        {% if post.categories contains page.category %}
            <li class="post-teaser">
                <a href="{{ post.url | prepend: site.baseurl }}">
                    <span class="post-teaser__title">{{ post.title }}</span>
                </a>
                <span class="post-teaser__date">{{ post.date | date: "%d/%m/%Y" }}</span>
            </li>
            {% assign empty_category = false %}
        {% endif %}
    {% endfor %}

    {% if empty_category %}
        <li class="empty-post-list">
            Mục này tạm thời chưa có bài nào, bạn quay lại <a href="/">home</a> xem bài khác nhé ^^.
        </li>
    {% endif %}
</ul>

{% include page/explore.html %}
